@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<article id="qr-scanner">
    <h1>QR Scanner</h1>
    <section id="project-intro">
        <p>@Localizer["Intro_text"]</p>
    </section>
    <section id="project-image">
        <img src="~/images/qrScanner_systems.png" id="qrScanner-img" class="project-img fadable slidable-from-right" />
    </section>
    <section class="container-3in1">
        <div id="qrScanner-android-box" class="box-3in1">
            <h2>Android</h2>
            <section class="container-tech-stack">
                <i class="fa fa-layer-group tooltip-container" style="font-size:3rem"><span class="tooltiptext">@Localizer["Techno"]</span></i>
                <p>@Localizer["Techno_text"]</p>
            </section>
            <section class="container-tech-stack">
                <i class="fa fa-code-branch tooltip-container" style="font-size:3rem"><span class="tooltiptext">@Localizer["SourceCode"]</span></i>
                <a href="https://github.com/robs23/TestZXing-master">@Localizer["SourceCode_text"]</a>
            </section>
        </div>
        <div id="qrScanner-api-box" class="box-3in1">
            <h2>Web Api</h2>
            <section class="container-tech-stack">
                <i class="fa fa-layer-group tooltip-container" style="font-size:3rem"><span class="tooltiptext">@Localizer["Techno"]</span></i>
                <p>@Localizer["Techno_text"]</p>
            </section>
            <section class="container-tech-stack">
                <i class="fa fa-code-branch tooltip-container" style="font-size:3rem"><span class="tooltiptext">@Localizer["SourceCode"]</span></i>
                <a href="https://github.com/robs23/JDE_API">@Localizer["SourceCode_text"]</a>
            </section>
        </div>
        <div id="qrScanner-windows-box" class="box-3in1">
            <h2>Windows</h2>
            <section class="container-tech-stack">
                <i class="fa fa-layer-group tooltip-container" style="font-size:3rem"><span class="tooltiptext">@Localizer["Techno"]</span></i>
                <p>@Localizer["Techno_text"]</p>
            </section>
            <section class="container-tech-stack">
                <i class="fa fa-code-branch tooltip-container" style="font-size:3rem"><span class="tooltiptext">@Localizer["SourceCode"]</span></i>
                <a href="https://github.com/robs23/JDE_Scanner_Desktop">@Localizer["SourceCode_text"]</a>
            </section>
        </div>
    </section>
    
    <div class="btn-center">
        <a asp-page="./Projects/QrScanner" class="btn btn-primary" id="learn-more">@Localizer["Learn more"]</a>
    </div>
</article>


@section scripts{
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/animations.js" asp-append-version="true"></script>
}
