@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<article id="systo">
    <h1>Systo</h1>
    <section id="project-intro">
        <p>@Localizer["Intro_text"]</p>
    </section>
    <section id="project-image">
        <img src="~/images/systo_systems.png" class="project-img fadeIn" />
    </section>
    <section id="project-techno">
        <h3 id="project-section-title">@Localizer["Techno"]</h3>
        <p>@Localizer["Techno_text"]</p>
    </section>
    <section id="project-demo">
        <h3 id="project-section-title">@Localizer["Demo"]</h3>
        <p>
            @Localizer["Demo_text"]
        </p>
    </section>
    <div class="btn-center">
        <a asp-page="./Projects/Systo" class="btn btn-primary" id="learn-more">@Localizer["Learn more"]</a>
    </div>
</article>

