@page
@model Texas.Pages.Projects.QrScannerModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "QrScanner";
    Layout = "~/Pages/_Layout.cshtml";
}

<article id="qrScanner-overview" class="app-overview">
    <section id="row-1"></section>
    <section id="features">
        <div class="container">
            <div class="feature-container">
                <h3>@Localizer["On-the-move"]</h3>
                <p>@Localizer["On-the-move-text-1"]</p>
                <img src="~/images/qrScanner_1.jpg" class="feature-img" />
            </div>
            <div class="feature-container">
                <p>@Localizer["On-the-move-text-2"]</p>
                <img src="~/images/qrScanner_2.png" class="feature-img" />
            </div>
            <div class="feature-container">
                <p>@Localizer["On-the-move-text-3"]</p>
                <img src="~/images/qrScanner_3.png" class="feature-img" />
            </div>
            <div class="feature-container">
                <p>@Localizer["On-the-move-text-4"]</p>
                <img src="~/images/qrScanner_4.png" class="feature-img" />
            </div>
        </div>

    </section>
</article>
