@page
@model Texas.Pages.SystoModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Systo";
    Layout = "~/Pages/_Layout.cshtml";
}

<article id="systo-overview">
    <section id="row-1"></section>
    <section id="features">
        <div class="container">
            <div class="feature-container">
                <h3>@Localizer["Modular"]</h3>
                <p>@Localizer["Modular-text"]</p>
                <div class="feature-gif">
                    <a href="#">
                        <img src="~/images/Systo_modules.png" id="systo_modules" class="feature-img" />
                        <span class="play-gif-container">
                            <span>
                                <i class="fa fa-play-circle" style="font-size:4rem;color: black"></i>
                                <i class="fa fa-stop-circle" style="font-size:4rem;color: black"></i>
                            </span>
                        </span>
                    </a>
                </div>
                
                
            </div>
            <div class="feature-container">
                <h3>@Localizer["Multitenant"]</h3>
                <p>@Localizer["Multitenant-text"]</p>
                <img src="~/images/systo_multitenancy.png" id="systo_multitenancy" class="feature-img" />
            </div>
            <div class="feature-container">
                <h3>@Localizer["HR"]</h3>
                <p>@Localizer["HR-text"]</p>
                <img src="~/images/systo_hr.png" id="systo_hr" class="feature-img" />
            </div>
            <div class="feature-container">
                <h3>@Localizer["CRM"]</h3>
                <p>@Localizer["CRM-text"]</p>
                <img src="~/images/systo_crm.png" id="systo_crm" class="feature-img" />
            </div>
            <div class="feature-container">
                <h3>@Localizer["Logistics"]</h3>
                <p>@Localizer["Logistics-text"]</p>
                <img src="~/images/systo_logistics.png" id="systo_logistics" class="feature-img" />
            </div>
            <div class="feature-container">
                <h3>@Localizer["Reporting"]</h3>
                <p>@Localizer["Reporting-text"]</p>
                <img src="~/images/systo_printable.png" id="systo_printable" class="feature-img" />
            </div>
        </div>

    </section>
</article>

@section scripts{
    <script src="~/js/feature-img.js" asp-append-version="true"></script>
    <script src="~/js/ReplacePngWithGif.js" asp-append-version="true"></script>

}

