@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Http
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/Style.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    </environment>
</head>
<body>
    <header>
        <div id="nav-container">
            <nav id="nav-main">
                <input type="checkbox" id="nav-toggle" />
                <label for="nav-toggle" class="hamburger" id="btnMenu"></label>

                <ul>
                    <li>
                        <a asp-page="./Index">@Localizer["Home"]</a>
                    </li>
                    <li>
                        <a asp-page="./Projects">@Localizer["Projects"]</a>
                    </li>
                    <li>
                        <a href="#">@Localizer["Blog"]</a>
                    </li>
                    <li>
                        <a asp-page="./Index" asp-fragment="row-4" class="smooth-slide">@Localizer["Contact Me"]</a>
                    </li>
                </ul>
            </nav>
            <nav id="nav-lang">
                    <ul>
                        <li>
                            <a asp-page="/Index" asp-page-handler="SetCulture" asp-route-culture="en-EN">EN</a>
                        </li>
                        <li>
                            <a asp-page="/Index" asp-page-handler="SetCulture" asp-route-culture="pl-PL">PL</a>
                        </li>
                    </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div id="social-icons">
            <a href="https://www.facebook.com/robert.roszak.54"><img src="~/images/icon_facebook.png" /></a>
            <a href="https://www.linkedin.com/in/robert-roszak-1a9176a2/"><img src="~/images//icon_linkedIn.png" /></a>
            <a href="https://github.com/robs23"><img src="~/images//icon_github.png" /></a>
            <a href="https://twitter.com/robert_roszak"><img src="~/images//icon_twitter.png" /></a>
        </div>
        <p>&copy; 2018 Robert Roszak</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
