@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IndexModel

@{
    if (TempData["MessageSent"] != null)
    {
        <div id="dlg-container">
            <div id="dlgbox">
                <div id="dlg-body">@Localizer["MessageSent"]</div>
                <div id="dlg-btn">
                    <button onclick="closeDialog()" class="btn btn-success">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    }
}


<article>
    <section id="row-1">
        <div id="welcome">
            <h1>@Localizer["Welcome"]!</h1>
            <p>
                @Localizer["Welcome text"]
            </p>
        </div>
    </section>
    <section id="row-2">
        <h1>@Localizer["Bio"]</h1>
        <div id="bio-img">
            <img src="~/images/bio-img.png" />
        </div>
        <div id="bio-text">
            <p>
                @Localizer["Bio text"]
            </p>
        </div>
    </section>
    <section id="row-3">
        <h1>@Localizer["Projects"]</h1>
        <div id="projects-container">
            <a href="#"><img src="~/images/projects-systo.png" /></a>
            <a href="#"><img src="~/images/qr_scanner_300.png" /></a>
        </div>
        <div class="btn-center">
            <input type="button" value=@Localizer["Learn more"] id="learn-more" class="btn btn-primary" />
        </div>
    </section>
    <section id="row-4">
        <h1>@Localizer["Contact Me"]</h1>
        <form method="post" asp-page-handler="SendMail">
            <div id="contact-inputs" class="form-horizontal">
                <div id="contact-name-mail">
                    <input type="text" placeholder=@Localizer["Name"] id="contact-name" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                    <input type="email" placeholder=@Localizer["E-mail"] id="contact-mail" class="form-control" asp-for="Mail" />
                    <span asp-validation-for="Mail"></span>
                </div>
                <textarea type="text" placeholder=@Localizer["Message"] id="contact-message" asp-for="Message"></textarea>
                <span asp-validation-for="Message"></span>
            </div>
            <input type="submit" onclick="unclickable()" value=@Localizer["Submit"] id="contact-submit" class="btn btn-primary" />
        </form>
    </section>
</article>

@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        function closeDialog() {
            $('#dlg-container').hide();
        }

        function unclickable() {
            $('#contact-submit').prop('disabled', true);
            $('#contact-submit').innerText = "SENDING..";
        }
    </script>
}

@*@section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#contact-submit").click(function (e) {
                    e.preventDefault();
                    var t = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: 'Index',
                        headers:
                            {
                                "RequestVerificationToken": t
                            },
                        type: "POST",
                        data: { data: 'foo2' },
                    }).done(function (data) {
                        alert("Poszło");
                    }).fail(function (a, v, e) {
                        alert(e);
                    });

                });
            })

        </script>
    }*@

