@page
@using Microsoft.AspNetCore.Mvc.Localization
@using AspNetCore.ReCaptcha
@inject IViewLocalizer Localizer
@model IndexModel
@section head{
    <link href="~/css/page-index.css" rel="stylesheet" />
    <link href="~/css/animation.css" rel="stylesheet" />
}

@{
    if (TempData["MessageSent"] != null)
    {
        <div id="dlg-container">
            <div id="dlgbox">
                <div id="dlg-body">@Localizer["MessageSent"]</div>
                <div id="dlg-btn">
                    <button onclick="closeDialog()" class="btn btn-success">@Localizer["Close"]</button>
                </div>
            </div>
        </div>
    }
}

<article id="index">
    <section id="row-1">
        <div id="welcome">
            <h1>@Localizer["Welcome"]!</h1>
            <p>
                @Localizer["Welcome text"]
            </p>
        </div>
    </section>
    <section id="row-2" class="bio">
        <h1>@Localizer["Bio"]</h1>
        <div id="bio-img" class="fadable slidable-from-left">
            <img src="~/images/bio-img-2020.png" />
        </div>
        <div id="bio-text" class="fadable slidable-from-right">
            <p>
                @Localizer["Bio text"]
            </p>
        </div>
    </section>
    <section id="row-3">
        <h1>@Localizer["Projects"]</h1>
        <div id="projects-container">
            <a is-active-route asp-page="./Projects" asp-fragment="systo" class="project-box">
                <img src="~/images/projects-systo.png" />
                <div id="project-text">
                    @Localizer["Systo_text"]
                </div>
            </a>
            <a asp-page="./Projects" asp-fragment="qr-scanner" class="project-box">
                <img src="~/images/qr_scanner_300.png" />
                <div id="project-text">
                    @Localizer["QrScanner_text"]
                </div>
            </a>
        </div>
        <div class="btn-center">
            <a asp-page="./Projects" class="btn btn-primary" id="learn-more">@Localizer["Learn more"]</a>
            @*<input type="submit" onclick="GetProjects()" value=@Localizer["Learn more"] id="learn-more" class="btn btn-primary" />*@
        </div>
    </section>
    <section id="row-4">
        <h1>@Localizer["Contact Me"]</h1>
        <form method="post" asp-page-handler="SendMail" onsubmit="unclickable()">
            <div id="contact-inputs" class="form-horizontal">
                <div id="contact-name-mail">
                    <input type="text" placeholder=@Localizer["Name"] id="contact-name" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                    <input type="email" placeholder=@Localizer["E-mail"] id="contact-mail" class="form-control" asp-for="Mail" />
                    <span asp-validation-for="Mail"></span>
                </div>
                <textarea type="text" placeholder=@Localizer["Message"] id="contact-message" asp-for="Message"></textarea>
                <span asp-validation-for="Message"></span>
            </div>
            @Html.ReCaptcha(language: "en-GB")
            <input type="submit" value=@Localizer["Submit"] id="contact-submit" class="btn btn-primary" />
        </form>
    </section>
</article>

@section scripts{
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/animations.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        function closeDialog() {
            $('#dlg-container').hide();
        }

        function unclickable() {
            $('#contact-submit').prop('disabled', true);
            $('#contact-submit').innerText = "SENDING..";
        }

        function GetProjects() {
        }
    </script>
}

@*@section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#contact-submit").click(function (e) {
                    e.preventDefault();
                    var t = $("input[name='__RequestVerificationToken']").val();
                    $.ajax({
                        url: 'Index',
                        headers:
                            {
                                "RequestVerificationToken": t
                            },
                        type: "POST",
                        data: { data: 'foo2' },
                    }).done(function (data) {
                        alert("Poszło");
                    }).fail(function (a, v, e) {
                        alert(e);
                    });

                });
            })

        </script>
    }*@

