@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<article>
    <section id="row-1">
        <div id="welcome">
            <h1>@Localizer["Welcome"]!</h1>
            <p>
                @Localizer["Welcome text"]
            </p>
        </div>
    </section>
    <section id="row-2">
        <h1>@Localizer["Bio"]</h1>
        <div id="bio-img">
            <img src="~/images/bio-img.png" />
        </div>
        <div id="bio-text">
            <p>
                @Localizer["Bio text"]
            </p>
        </div>
    </section>
    <section id="row-3">
        <h1>@Localizer["Projects"]</h1>
        <div id="projects-container">
            <a href="#"><img src="~/images/projects-systo.png" /></a>
            <a href="#"><img src="~/images/projects-qr_scanner.png" /></a>
        </div>
        <div class="btn-center">
            <input type="button" value=@Localizer["Learn more"] id="learn-more" class="btn btn-primary" />
        </div>
    </section>
    <section id="row-4">
        <h1>@Localizer["Contact Me"]</h1>
        <div id="contact-inputs" class="form-horizontal">
            <div id="contact-name-mail">
                <input type="text" placeholder=@Localizer["Name"] id="contact-name" class="form-control" />
                <input type="email" placeholder=@Localizer["E-mail"] id="contact-mail" class="form-control" />
            </div>
            <textarea type="text" placeholder=@Localizer["Message"] id="contact-message"></textarea>
        </div>
        <input type="button" value=@Localizer["Submit"] id="contact-submit" class="btn btn-primary" />
    </section>
</article>
